html, body {
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("/dist/images/background-city-blured.jpeg");
}

header {
  //background-image: url("/dist/images/header-bg.jpg");
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 10px 10px 10px;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left-header {
    display: flex;
    align-items: center;
    .header-logo-container {
      width: 80px;
      height: auto;
      max-height: 80px;
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }

  .right-header {
    @media (max-width: 768px) {

      div.ham-menu {
        height: 24px;
        img {
          height: 100%;
        }
      }
      ul.nav-menu {
        display: none;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      align-items: center;

      div.ham-menu {
        display: none;
      }

      ul.nav-menu {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
          cursor: pointer;
          display: inline;
          padding-left: 10px;
          padding-right: 10px;
          border-left: 1px dotted black;
        }
      }
    }
  }
}

footer {
  height: auto;
  overflow: hidden;
  border-top: 1px solid black;
  h1, p {
    text-align: center;
    padding: 10px;
    margin: 0px;
  }
}

#content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
